.header {
    width: 100%;
    margin: 0 1em;
    min-height: 5em;
    background-color: #3f51b5;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__title {
    margin-left: 5%;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: white;
    mix-blend-mode: screen;
    padding: 5px; 
    border-radius: 5px;
}